body {
    background-image: url("https://www.pexels.com/search/aesthetic%20sky/");
    background-size: cover;
}

#h1 {
    text-align: center;
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#name {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    margin-right: 10px;
}

#search {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container1 {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 20px;
}

.row {
    display: flex;
    margin: 10px;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

